openapi: 3.0.0
info:
  title: Defect Dojo API
  description: To use the API you need be authorized.
  version: "1.0"
  x-logo: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAK4AAACuCAYAAACvDDbuAAAAAXNSR0IArs4c6QAABm1JREFUeF7t3L9r3VUYx/Hn4r03SbG1NpCi9hZroDaKBSn4HxQURBycHAOC6OAuFUEcHISCOOhS6NDB/gMFB8UfoCAtdpAOtVi0g60xKjVpEpNcuZFmaaCe85ye534470wOOc+Pz/Pii4Omc/j4/ND4IQGRBCYn+jY3O7AOcEUuxphbCQAXCJIJAFfybAwNXAxIJgBcybMxNHAxIJkAcCXPxtDAxYBkAsCVPBtDAxcDkgkAV/JsDA1cDEgmAFzJszE0cDEgmQBwJc/G0MDFgGQCwJU8G0MDFwOSCQBX8mwMDVwMSCYAXMmzMTRwMSCZAHAlz8bQwMWAZALAlTwbQwMXA5IJAFfybAy9DffJ514Zq78dNlbD4GTHBIbDoW1sbIaksw33zfdPjZWVrWHGaqKQ+4x102vXF+zCDz/aP+vr1efchvvb4p/jx2T8Jqp+oHFu+Nm3F+29jz+xpVsr1cfchjscfff5IYGEBM598Z2dOHna/l6+lfCqzK8Ct0yOTVYBbpNn118auPo3bHID4DZ5dv2lgat/wyY3AG6TZ9dfGrj6N2xyA+A2eXb9pYGrf8MmNwBuk2fXXxq4+jdscgPgNnl2/aWBq3/DJjcAbpNn118auPo3bHID4DZ5dv2lgat/wyY3AG6TZ9dfGrj6N2xyA+A2eXb9pYGrf8MmNwBuk2fXXxq4+jdscgPgNnl2/aWBq3/DJjcAbpNn118auPo3bHID4DZ5dv2lgat/wyY3AG7A2c//smiXF27a0tpGQPcyLQ8+uMuOPrTX9u+eLFMwsQpwEwMr8etnv//ZvrxywxaX10qUC6lxbLDPnn/iEXt8ZndIf+AGxH7mwlX7/PIN+31pNaB7mZbPHJy2F586YHP795QpmFgFuImBlfh14PpTBK4/w+QKwE2O7I4HwPVnmFwBuMmRAdcfmb8CcP0Z8sX1Z5hcAbjJkfHF9UfmrwBcf4Z8cf0ZJlcAbnJkfHH9kfkrANefIV9cf4bJFYCbHBlfXH9k/grA9WfIF9efYXIF4CZHxhfXH5m/AnD9GfLF9WeYXAG4yZHxxfVH5q8AXH+GY/HF/enar8OsVW6/6vz/151Oxyb7PZuZ3mujf474uTvc0WIlZrt3dfjPGgfWeeHVt6vB7fe6duTQwE68/rJN9HsRbu3ucEPGSmoK3IF1Dh+fz4ObFPV/vzzC+vTcrH307hs2NdHPqOB/Alx/hmPxrwrA9R+ydgW+uHxxa5sr0g+4wC0CqXYR4AK3trki/YAL3CKQahcBLnBrmyvSD7jALQKpdhHgAre2uSL9gAvcIpBqFwEucGubK9IPuMAtAql2EeACt7a5Iv2AC9wikGoXAS5wa5sr0g+4wC0CqXYR4AJ3B3P37v9cyAN+5zzABW6epeBXwAVuMMG89sAFbp6c4FfABW4wwbz2wAVunpzgV8AFbjDBvPbABW6enOBXwAVuMMG89sAFbp6c4FfABW4wwbz2wAVunpzgV8AFbjDBvPbABW6enOBXwG0Q7jdXF+zS9b/s5up6ML/89o9N32/HBvvs4T1T+UUcL/lrjY7wcp/+sby2hXZjczO3RPi7Xf2uPTDVs8nufSGzADckdpp6EwCuN0HehyQA3JDYaepNALjeBHkfkgBwQ2KnqTcB4HoT5H1IAsANiZ2m3gSA602Q9yEJADckdpp6EwCuN0HehyQA3JDYaepNALjeBHkfkgBwQ2KnqTcB4HoT5H1IAsANiZ2m3gSA602Q9yEJADckdpp6EwCuN0HehyQA3JDYaepNALjeBHkfkgBwQ2KnqTcB4HoT5H1IAsANiZ2m3gSA602Q9yEJADckdpp6EwCuN0HehyQA3JDYaepNALjeBHkfkgBwQ2KnqTeBJuEePXLIPnjrNZuc6Hvz431QAp9+fd7e+fCMLS2vVJ9g5GZutvLfx+11u/bogRmbf+lZ6/e61ZemYZkELl66YmfPfWUrq2tlCiZUCYGbMB+/SgI7JgBcYEgmAFzJszE0cDEgmQBwJc/G0MDFgGQCwJU8G0MDFwOSCQBX8mwMDVwMSCYAXMmzMTRwMSCZAHAlz8bQwMWAZALAlTwbQwMXA5IJAFfybAwNXAxIJgBcybMxNHAxIJkAcCXPxtDAxYBkAsCVPBtDAxcDkgkAV/JsDA1cDEgmAFzJszE0cDEgmQBwJc/G0MDFgGQCwJU8G0PfhvsvcmpuZNZAtswAAAAASUVORK5CYII=
  contact:
    name: "@Anonymous Shuffle User"
    url: https://twitter.com/shuffleio
    email: support@shuffler.io
  x-categories:
    - Other
servers:
  - url: https://defectdojo.exampl.com/api/v2
host: defectdojo.exampl.com
basePath: /api/v2
schemes:
  - "https:"
paths:
  /api-token-auth/:
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "password": "",
                    "token": "",
                    "username": ""
                  }
      summary: apitokenauth_create
      operationId: apitokenauth_create
      parameters:
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "password": "${password}",
              "token": "${token}",
              "username": "${username}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "password": "${password}",
                "token": "${token}",
                "username": "${username}"
              }
  /configuration_permissions/:
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: configuration_permissions_list
      operationId: configuration_permissions_list
      parameters:
        - in: query
          name: id
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: name
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: codename
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
      requestBody:
        content: {}
  "/configuration_permissions/{id}/":
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "codename": "",
                    "id": 0,
                    "name": ""
                  }
      summary: configuration_permissions_read
      operationId: configuration_permissions_read
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
  /development_environments/:
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: development_environments_list
      operationId: development_environments_list
      parameters:
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
      requestBody:
        content: {}
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "id": 0,
                    "name": ""
                  }
      summary: development_environments_create
      operationId: development_environments_create
      parameters:
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "id": "${id}",
              "name": "${name}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "id": "${id}",
                "name": "${name}"
              }
  "/development_environments/{id}/":
    delete:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: development_environments_delete
      operationId: development_environments_delete
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "id": 0,
                    "name": ""
                  }
      summary: development_environments_read
      operationId: development_environments_read
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    patch:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "id": 0,
                    "name": ""
                  }
      summary: development_environments_partial_update
      operationId: development_environments_partial_update
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "id": "${id}",
              "name": "${name}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "id": "${id}",
                "name": "${name}"
              }
    put:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "id": 0,
                    "name": ""
                  }
      summary: development_environments_update
      operationId: development_environments_update
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "id": "${id}",
              "name": "${name}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "id": "${id}",
                "name": "${name}"
              }
  "/development_environments/{id}/delete_preview/":
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: development_environments_delete_preview
      operationId: development_environments_delete_preview
      parameters:
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
  /dojo_group_members/:
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: dojo_group_members_list
      operationId: dojo_group_members_list
      parameters:
        - in: query
          name: id
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: group_id
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: user_id
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
        - in: query
          name: prefetch
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
      requestBody:
        content: {}
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "group": 0,
                    "id": 0,
                    "role": 0,
                    "user": 0
                  }
      summary: dojo_group_members_create
      operationId: dojo_group_members_create
      parameters:
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "group": "${group}",
              "id": "${id}",
              "role": "${role}",
              "user": "${user}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "group": "${group}",
                "id": "${id}",
                "role": "${role}",
                "user": "${user}"
              }
  "/dojo_group_members/{id}/":
    delete:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: dojo_group_members_delete
      operationId: dojo_group_members_delete
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: dojo_group_members_read
      operationId: dojo_group_members_read
      parameters:
        - in: query
          name: prefetch
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    patch:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "group": 0,
                    "id": 0,
                    "role": 0,
                    "user": 0
                  }
      summary: dojo_group_members_partial_update
      operationId: dojo_group_members_partial_update
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "group": "${group}",
              "id": "${id}",
              "role": "${role}",
              "user": "${user}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "group": "${group}",
                "id": "${id}",
                "role": "${role}",
                "user": "${user}"
              }
    put:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "group": 0,
                    "id": 0,
                    "role": 0,
                    "user": 0
                  }
      summary: dojo_group_members_update
      operationId: dojo_group_members_update
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "group": "${group}",
              "id": "${id}",
              "role": "${role}",
              "user": "${user}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "group": "${group}",
                "id": "${id}",
                "role": "${role}",
                "user": "${user}"
              }
  "/dojo_group_members/{id}/delete_preview/":
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: dojo_group_members_delete_preview
      operationId: dojo_group_members_delete_preview
      parameters:
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
  /dojo_groups/:
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: dojo_groups_list
      operationId: dojo_groups_list
      parameters:
        - in: query
          name: id
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: name
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: social_provider
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
        - in: query
          name: prefetch
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
      requestBody:
        content: {}
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "configuration_permissions": [],
                    "description": "",
                    "id": 0,
                    "name": "",
                    "social_provider": "Group imported from a social provider.",
                    "users": []
                  }
      summary: dojo_groups_create
      operationId: dojo_groups_create
      parameters:
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "configuration_permissions": "${configuration_permissions}",
              "description": "${description}",
              "id": "${id}",
              "name": "${name}",
              "social_provider": "${social_provider}",
              "users": "${users}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "configuration_permissions": "${configuration_permissions}",
                "description": "${description}",
                "id": "${id}",
                "name": "${name}",
                "social_provider": "${social_provider}",
                "users": "${users}"
              }
  "/dojo_groups/{id}/":
    delete:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: dojo_groups_delete
      operationId: dojo_groups_delete
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: dojo_groups_read
      operationId: dojo_groups_read
      parameters:
        - in: query
          name: prefetch
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    patch:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "configuration_permissions": [],
                    "description": "",
                    "id": 0,
                    "name": "",
                    "social_provider": "Group imported from a social provider.",
                    "users": []
                  }
      summary: dojo_groups_partial_update
      operationId: dojo_groups_partial_update
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "configuration_permissions": "${configuration_permissions}",
              "description": "${description}",
              "id": "${id}",
              "name": "${name}",
              "social_provider": "${social_provider}",
              "users": "${users}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "configuration_permissions": "${configuration_permissions}",
                "description": "${description}",
                "id": "${id}",
                "name": "${name}",
                "social_provider": "${social_provider}",
                "users": "${users}"
              }
    put:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "configuration_permissions": [],
                    "description": "",
                    "id": 0,
                    "name": "",
                    "social_provider": "Group imported from a social provider.",
                    "users": []
                  }
      summary: dojo_groups_update
      operationId: dojo_groups_update
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "configuration_permissions": "${configuration_permissions}",
              "description": "${description}",
              "id": "${id}",
              "name": "${name}",
              "social_provider": "${social_provider}",
              "users": "${users}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "configuration_permissions": "${configuration_permissions}",
                "description": "${description}",
                "id": "${id}",
                "name": "${name}",
                "social_provider": "${social_provider}",
                "users": "${users}"
              }
  "/dojo_groups/{id}/delete_preview/":
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: dojo_groups_delete_preview
      operationId: dojo_groups_delete_preview
      parameters:
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
  /endpoint_meta_import/:
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "create_dojo_meta": false,
                    "create_endpoints": false,
                    "create_tags": false,
                    "file": "",
                    "product": 0,
                    "product_id": 0,
                    "product_name": ""
                  }
      summary: "Imports a CSV file into a product to propogate arbitrary meta and tags
        on endpoints "
      operationId: Imports_a_CSV_file_into_a_product_to_propogate_arbitrary_meta_and_tags_on_endpoints_
      description: >-
        By Names:

        - Provide `product_name` of existing product


        By ID:

        - Provide the id of the product in the `product` parameter


        In this scenario Defect Dojo will look up the product by the provided details.
      parameters:
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: ""
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: ""
          multipart/form-data:
            schema:
              type: object
              properties:
                fieldname:
                  type: string
                  value: file
  /endpoint_status/:
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: endpoint_status_list
      operationId: endpoint_status_list
      parameters:
        - in: query
          name: mitigated
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: false_positive
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: out_of_scope
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: risk_accepted
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: mitigated_by
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: finding
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: endpoint
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
      requestBody:
        content: {}
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "date": "",
                    "endpoint": 0,
                    "false_positive": false,
                    "finding": 0,
                    "id": 0,
                    "last_modified": "",
                    "mitigated": false,
                    "mitigated_by": 0,
                    "mitigated_time": "",
                    "out_of_scope": false,
                    "risk_accepted": false
                  }
      summary: endpoint_status_create
      operationId: endpoint_status_create
      parameters:
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "date": "${date}",
              "endpoint": "${endpoint}",
              "false_positive": "${false_positive}",
              "finding": "${finding}",
              "id": "${id}",
              "last_modified": "${last_modified}",
              "mitigated": "${mitigated}",
              "mitigated_by": "${mitigated_by}",
              "mitigated_time": "${mitigated_time}",
              "out_of_scope": "${out_of_scope}",
              "risk_accepted": "${risk_accepted}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "date": "${date}",
                "endpoint": "${endpoint}",
                "false_positive": "${false_positive}",
                "finding": "${finding}",
                "id": "${id}",
                "last_modified": "${last_modified}",
                "mitigated": "${mitigated}",
                "mitigated_by": "${mitigated_by}",
                "mitigated_time": "${mitigated_time}",
                "out_of_scope": "${out_of_scope}",
                "risk_accepted": "${risk_accepted}"
              }
  "/endpoint_status/{id}/":
    delete:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: endpoint_status_delete
      operationId: endpoint_status_delete
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "date": "",
                    "endpoint": 0,
                    "false_positive": false,
                    "finding": 0,
                    "id": 0,
                    "last_modified": "",
                    "mitigated": false,
                    "mitigated_by": 0,
                    "mitigated_time": "",
                    "out_of_scope": false,
                    "risk_accepted": false
                  }
      summary: endpoint_status_read
      operationId: endpoint_status_read
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    patch:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "date": "",
                    "endpoint": 0,
                    "false_positive": false,
                    "finding": 0,
                    "id": 0,
                    "last_modified": "",
                    "mitigated": false,
                    "mitigated_by": 0,
                    "mitigated_time": "",
                    "out_of_scope": false,
                    "risk_accepted": false
                  }
      summary: endpoint_status_partial_update
      operationId: endpoint_status_partial_update
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "date": "${date}",
              "endpoint": "${endpoint}",
              "false_positive": "${false_positive}",
              "finding": "${finding}",
              "id": "${id}",
              "last_modified": "${last_modified}",
              "mitigated": "${mitigated}",
              "mitigated_by": "${mitigated_by}",
              "mitigated_time": "${mitigated_time}",
              "out_of_scope": "${out_of_scope}",
              "risk_accepted": "${risk_accepted}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "date": "${date}",
                "endpoint": "${endpoint}",
                "false_positive": "${false_positive}",
                "finding": "${finding}",
                "id": "${id}",
                "last_modified": "${last_modified}",
                "mitigated": "${mitigated}",
                "mitigated_by": "${mitigated_by}",
                "mitigated_time": "${mitigated_time}",
                "out_of_scope": "${out_of_scope}",
                "risk_accepted": "${risk_accepted}"
              }
    put:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "date": "",
                    "endpoint": 0,
                    "false_positive": false,
                    "finding": 0,
                    "id": 0,
                    "last_modified": "",
                    "mitigated": false,
                    "mitigated_by": 0,
                    "mitigated_time": "",
                    "out_of_scope": false,
                    "risk_accepted": false
                  }
      summary: endpoint_status_update
      operationId: endpoint_status_update
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "date": "${date}",
              "endpoint": "${endpoint}",
              "false_positive": "${false_positive}",
              "finding": "${finding}",
              "id": "${id}",
              "last_modified": "${last_modified}",
              "mitigated": "${mitigated}",
              "mitigated_by": "${mitigated_by}",
              "mitigated_time": "${mitigated_time}",
              "out_of_scope": "${out_of_scope}",
              "risk_accepted": "${risk_accepted}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "date": "${date}",
                "endpoint": "${endpoint}",
                "false_positive": "${false_positive}",
                "finding": "${finding}",
                "id": "${id}",
                "last_modified": "${last_modified}",
                "mitigated": "${mitigated}",
                "mitigated_by": "${mitigated_by}",
                "mitigated_time": "${mitigated_time}",
                "out_of_scope": "${out_of_scope}",
                "risk_accepted": "${risk_accepted}"
              }
  "/endpoint_status/{id}/delete_preview/":
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: endpoint_status_delete_preview
      operationId: endpoint_status_delete_preview
      parameters:
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
  /endpoints/:
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: endpoints_list
      operationId: endpoints_list
      parameters:
        - in: query
          name: id
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: protocol
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: userinfo
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: host
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: port
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: path
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: fragment
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: product
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: tag
          description: Tag name contains
          required: false
          schema:
            type: string
        - in: query
          name: tags
          description: Comma seperated list of exact tags
          required: false
          schema:
            type: string
        - in: query
          name: not_tag
          description: Not Tag name contains
          required: false
          schema:
            type: string
        - in: query
          name: not_tags
          description: Comma seperated list of exact tags not present on model
          required: false
          schema:
            type: string
        - in: query
          name: o
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
      requestBody:
        content: {}
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  {
                    "endpoint_params": [],
                    "findings": [],
                    "fragment": "The fragment identifier which follows the hash mark. The hash mark should be omitted. For example 'section-13', 'paragraph-2'.",
                    "host": "The host name or IP address. It must not include the port number. For example '127.0.0.1', 'localhost', 'yourdomain.com'.",
                    "id": 0,
                    "path": "The location of the resource, it must not start with a '/'. For example endpoint/420/edit",
                    "port": 0,
                    "product": 0,
                    "protocol": "The communication protocol/scheme such as 'http', 'ftp', 'dns', etc.",
                    "query": "The query string, the question mark should be omitted.For example 'group=4&team=8'",
                    "tags": [],
                    "userinfo": "User info as 'alice', 'bob', etc."
                  }
      summary: endpoints_create
      operationId: endpoints_create
      parameters:
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "endpoint_params": "${endpoint_params}",
              "findings": "${findings}",
              "fragment": "${fragment}",
              "host": "${host}",
              "id": "${id}",
              "path": "${path}",
              "port": "${port}",
              "product": "${product}",
              "protocol": "${protocol}",
              "query": "${query}",
              "tags": "${tags}",
              "userinfo": "${userinfo}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "endpoint_params": "${endpoint_params}",
                "findings": "${findings}",
                "fragment": "${fragment}",
                "host": "${host}",
                "id": "${id}",
                "path": "${path}",
                "port": "${port}",
                "product": "${product}",
                "protocol": "${protocol}",
                "query": "${query}",
                "tags": "${tags}",
                "userinfo": "${userinfo}"
              }
  "/endpoints/{id}/":
    delete:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: endpoints_delete
      operationId: endpoints_delete
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  {
                    "endpoint_params": [],
                    "findings": [],
                    "fragment": "The fragment identifier which follows the hash mark. The hash mark should be omitted. For example 'section-13', 'paragraph-2'.",
                    "host": "The host name or IP address. It must not include the port number. For example '127.0.0.1', 'localhost', 'yourdomain.com'.",
                    "id": 0,
                    "path": "The location of the resource, it must not start with a '/'. For example endpoint/420/edit",
                    "port": 0,
                    "product": 0,
                    "protocol": "The communication protocol/scheme such as 'http', 'ftp', 'dns', etc.",
                    "query": "The query string, the question mark should be omitted.For example 'group=4&team=8'",
                    "tags": [],
                    "userinfo": "User info as 'alice', 'bob', etc."
                  }
      summary: endpoints_read
      operationId: endpoints_read
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    patch:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  {
                    "endpoint_params": [],
                    "findings": [],
                    "fragment": "The fragment identifier which follows the hash mark. The hash mark should be omitted. For example 'section-13', 'paragraph-2'.",
                    "host": "The host name or IP address. It must not include the port number. For example '127.0.0.1', 'localhost', 'yourdomain.com'.",
                    "id": 0,
                    "path": "The location of the resource, it must not start with a '/'. For example endpoint/420/edit",
                    "port": 0,
                    "product": 0,
                    "protocol": "The communication protocol/scheme such as 'http', 'ftp', 'dns', etc.",
                    "query": "The query string, the question mark should be omitted.For example 'group=4&team=8'",
                    "tags": [],
                    "userinfo": "User info as 'alice', 'bob', etc."
                  }
      summary: endpoints_partial_update
      operationId: endpoints_partial_update
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "endpoint_params": "${endpoint_params}",
              "findings": "${findings}",
              "fragment": "${fragment}",
              "host": "${host}",
              "id": "${id}",
              "path": "${path}",
              "port": "${port}",
              "product": "${product}",
              "protocol": "${protocol}",
              "query": "${query}",
              "tags": "${tags}",
              "userinfo": "${userinfo}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "endpoint_params": "${endpoint_params}",
                "findings": "${findings}",
                "fragment": "${fragment}",
                "host": "${host}",
                "id": "${id}",
                "path": "${path}",
                "port": "${port}",
                "product": "${product}",
                "protocol": "${protocol}",
                "query": "${query}",
                "tags": "${tags}",
                "userinfo": "${userinfo}"
              }
    put:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  {
                    "endpoint_params": [],
                    "findings": [],
                    "fragment": "The fragment identifier which follows the hash mark. The hash mark should be omitted. For example 'section-13', 'paragraph-2'.",
                    "host": "The host name or IP address. It must not include the port number. For example '127.0.0.1', 'localhost', 'yourdomain.com'.",
                    "id": 0,
                    "path": "The location of the resource, it must not start with a '/'. For example endpoint/420/edit",
                    "port": 0,
                    "product": 0,
                    "protocol": "The communication protocol/scheme such as 'http', 'ftp', 'dns', etc.",
                    "query": "The query string, the question mark should be omitted.For example 'group=4&team=8'",
                    "tags": [],
                    "userinfo": "User info as 'alice', 'bob', etc."
                  }
      summary: endpoints_update
      operationId: endpoints_update
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "endpoint_params": "${endpoint_params}",
              "findings": "${findings}",
              "fragment": "${fragment}",
              "host": "${host}",
              "id": "${id}",
              "path": "${path}",
              "port": "${port}",
              "product": "${product}",
              "protocol": "${protocol}",
              "query": "${query}",
              "tags": "${tags}",
              "userinfo": "${userinfo}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "endpoint_params": "${endpoint_params}",
                "findings": "${findings}",
                "fragment": "${fragment}",
                "host": "${host}",
                "id": "${id}",
                "path": "${path}",
                "port": "${port}",
                "product": "${product}",
                "protocol": "${protocol}",
                "query": "${query}",
                "tags": "${tags}",
                "userinfo": "${userinfo}"
              }
  "/endpoints/{id}/delete_preview/":
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: endpoints_delete_preview
      operationId: endpoints_delete_preview
      parameters:
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
  "/endpoints/{id}/generate_report/":
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "endpoints": [],
                    "finding_notes": [],
                    "findings": [],
                    "host": "",
                    "report_info": "",
                    "report_name": "",
                    "team_name": "",
                    "title": "",
                    "user_id": 0
                  }
      summary: endpoints_generate_report
      operationId: endpoints_generate_report
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "include_executive_summary": "${include_executive_summary}",
              "include_finding_images": "${include_finding_images}",
              "include_finding_notes": "${include_finding_notes}",
              "include_table_of_contents": "${include_table_of_contents}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "include_executive_summary": "${include_executive_summary}",
                "include_finding_images": "${include_finding_images}",
                "include_finding_notes": "${include_finding_notes}",
                "include_table_of_contents": "${include_table_of_contents}"
              }
  /engagement_presets/:
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: engagement_presets_list
      operationId: engagement_presets_list
      parameters:
        - in: query
          name: id
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: title
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: product
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
      requestBody:
        content: {}
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  {
                    "created": "",
                    "id": 0,
                    "network_locations": [],
                    "notes": "Description of what needs to be tested or setting up environment for testing",
                    "product": 0,
                    "scope": "Scope of Engagement testing, IP's/Resources/URL's)",
                    "test_type": [],
                    "title": "Brief description of preset."
                  }
      summary: engagement_presets_create
      operationId: engagement_presets_create
      parameters:
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "created": "${created}",
              "id": "${id}",
              "network_locations": "${network_locations}",
              "notes": "${notes}",
              "product": "${product}",
              "scope": "${scope}",
              "test_type": "${test_type}",
              "title": "${title}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "created": "${created}",
                "id": "${id}",
                "network_locations": "${network_locations}",
                "notes": "${notes}",
                "product": "${product}",
                "scope": "${scope}",
                "test_type": "${test_type}",
                "title": "${title}"
              }
  "/engagement_presets/{id}/":
    delete:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: engagement_presets_delete
      operationId: engagement_presets_delete
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  {
                    "created": "",
                    "id": 0,
                    "network_locations": [],
                    "notes": "Description of what needs to be tested or setting up environment for testing",
                    "product": 0,
                    "scope": "Scope of Engagement testing, IP's/Resources/URL's)",
                    "test_type": [],
                    "title": "Brief description of preset."
                  }
      summary: engagement_presets_read
      operationId: engagement_presets_read
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    patch:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  {
                    "created": "",
                    "id": 0,
                    "network_locations": [],
                    "notes": "Description of what needs to be tested or setting up environment for testing",
                    "product": 0,
                    "scope": "Scope of Engagement testing, IP's/Resources/URL's)",
                    "test_type": [],
                    "title": "Brief description of preset."
                  }
      summary: engagement_presets_partial_update
      operationId: engagement_presets_partial_update
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "created": "${created}",
              "id": "${id}",
              "network_locations": "${network_locations}",
              "notes": "${notes}",
              "product": "${product}",
              "scope": "${scope}",
              "test_type": "${test_type}",
              "title": "${title}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "created": "${created}",
                "id": "${id}",
                "network_locations": "${network_locations}",
                "notes": "${notes}",
                "product": "${product}",
                "scope": "${scope}",
                "test_type": "${test_type}",
                "title": "${title}"
              }
    put:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  {
                    "created": "",
                    "id": 0,
                    "network_locations": [],
                    "notes": "Description of what needs to be tested or setting up environment for testing",
                    "product": 0,
                    "scope": "Scope of Engagement testing, IP's/Resources/URL's)",
                    "test_type": [],
                    "title": "Brief description of preset."
                  }
      summary: engagement_presets_update
      operationId: engagement_presets_update
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "created": "${created}",
              "id": "${id}",
              "network_locations": "${network_locations}",
              "notes": "${notes}",
              "product": "${product}",
              "scope": "${scope}",
              "test_type": "${test_type}",
              "title": "${title}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "created": "${created}",
                "id": "${id}",
                "network_locations": "${network_locations}",
                "notes": "${notes}",
                "product": "${product}",
                "scope": "${scope}",
                "test_type": "${test_type}",
                "title": "${title}"
              }
  "/engagement_presets/{id}/delete_preview/":
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: engagement_presets_delete_preview
      operationId: engagement_presets_delete_preview
      parameters:
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
  /engagements/:
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: engagements_list
      operationId: engagements_list
      parameters:
        - in: query
          name: id
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: active
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: target_start
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: target_end
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: requester
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: report_type
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: updated
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: threat_model
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: api_test
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: pen_test
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: status
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: product
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: name
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: version
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: tags
          description: Comma seperated list of exact tags
          required: false
          schema:
            type: string
        - in: query
          name: product__prod_type
          description: Multiple values may be separated by commas.
          required: false
          schema:
            type: string
        - in: query
          name: tag
          description: Tag name contains
          required: false
          schema:
            type: string
        - in: query
          name: product__tags__name
          description: Comma seperated list of exact tags present on product
          required: false
          schema:
            type: string
        - in: query
          name: not_tag
          description: Not Tag name contains
          required: false
          schema:
            type: string
        - in: query
          name: not_tags
          description: Comma seperated list of exact tags not present on model
          required: false
          schema:
            type: string
        - in: query
          name: not_product__tags__name
          description: Comma seperated list of exact tags not present on product
          required: false
          schema:
            type: string
        - in: query
          name: o
          description: Generated by shuffler.io OpenAPI
          required: false
          schema:
            type: string
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
      requestBody:
        content: {}
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  {
                    "active": false,
                    "api_test": false,
                    "branch_tag": "Tag or branch of the product the engagement tested.",
                    "build_id": "Build ID of the product the engagement tested.",
                    "build_server": 0,
                    "check_list": false,
                    "commit_hash": "Commit hash from repo",
                    "created": "",
                    "deduplication_on_engagement": false,
                    "description": "",
                    "done_testing": false,
                    "engagement_type": "",
                    "files": [],
                    "first_contacted": "",
                    "id": 0,
                    "lead": 0,
                    "name": "",
                    "notes": [],
                    "orchestration_engine": 0,
                    "pen_test": false,
                    "preset": 0,
                    "product": 0,
                    "progress": "",
                    "reason": "",
                    "report_type": 0,
                    "requester": 0,
                    "risk_acceptance": [],
                    "source_code_management_server": 0,
                    "source_code_management_uri": "Resource link to source code",
                    "status": "",
                    "tags": [],
                    "target_end": "",
                    "target_start": "",
                    "test_strategy": "",
                    "threat_model": false,
                    "tmodel_path": "",
                    "tracker": "Link to epic or ticket system with changes to version.",
                    "updated": "",
                    "version": "Version of the product the engagement tested."
                  }
      summary: engagements_create
      operationId: engagements_create
      parameters:
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: >-
            {
              "active": "${active}",
              "api_test": "${api_test}",
              "branch_tag": "${branch_tag}",
              "build_id": "${build_id}",
              "build_server": "${build_server}",
              "check_list": "${check_list}",
              "commit_hash": "${commit_hash}",
              "created": "${created}",
              "deduplication_on_engagement": "${deduplication_on_engagement}",
              "description": "${description}",
              "done_testing": "${done_testing}",
              "engagement_type": "${engagement_type}",
              "files": "${files}",
              "first_contacted": "${first_contacted}",
              "id": "${id}",
              "lead": "${lead}",
              "name": "${name}",
              "notes": "${notes}",
              "orchestration_engine": "${orchestration_engine}",
              "pen_test": "${pen_test}",
              "preset": "${preset}",
              "product": "${product}",
              "progress": "${progress}",
              "reason": "${reason}",
              "report_type": "${report_type}",
              "requester": "${requester}",
              "risk_acceptance": "${risk_acceptance}",
              "source_code_management_server": "${source_code_management_server}",
              "source_code_management_uri": "${source_code_management_uri}",
              "status": "${status}",
              "tags": "${tags}",
              "target_end": "${target_end}",
              "target_start": "${target_start}",
              "test_strategy": "${test_strategy}",
              "threat_model": "${threat_model}",
              "tmodel_path": "${tmodel_path}",
              "tracker": "${tracker}",
              "updated": "${updated}",
              "version": "${version}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: >-
              {
                "active": "${active}",
                "api_test": "${api_test}",
                "branch_tag": "${branch_tag}",
                "build_id": "${build_id}",
                "build_server": "${build_server}",
                "check_list": "${check_list}",
                "commit_hash": "${commit_hash}",
                "created": "${created}",
                "deduplication_on_engagement": "${deduplication_on_engagement}",
                "description": "${description}",
                "done_testing": "${done_testing}",
                "engagement_type": "${engagement_type}",
                "files": "${files}",
                "first_contacted": "${first_contacted}",
                "id": "${id}",
                "lead": "${lead}",
                "name": "${name}",
                "notes": "${notes}",
                "orchestration_engine": "${orchestration_engine}",
                "pen_test": "${pen_test}",
                "preset": "${preset}",
                "product": "${product}",
                "progress": "${progress}",
                "reason": "${reason}",
                "report_type": "${report_type}",
                "requester": "${requester}",
                "risk_acceptance": "${risk_acceptance}",
                "source_code_management_server": "${source_code_management_server}",
                "source_code_management_uri": "${source_code_management_uri}",
                "status": "${status}",
                "tags": "${tags}",
                "target_end": "${target_end}",
                "target_start": "${target_start}",
                "test_strategy": "${test_strategy}",
                "threat_model": "${threat_model}",
                "tmodel_path": "${tmodel_path}",
                "tracker": "${tracker}",
                "updated": "${updated}",
                "version": "${version}"
              }
  "/engagements/{id}/":
    delete:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: engagements_delete
      operationId: engagements_delete
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  {
                    "active": false,
                    "api_test": false,
                    "branch_tag": "Tag or branch of the product the engagement tested.",
                    "build_id": "Build ID of the product the engagement tested.",
                    "build_server": 0,
                    "check_list": false,
                    "commit_hash": "Commit hash from repo",
                    "created": "",
                    "deduplication_on_engagement": false,
                    "description": "",
                    "done_testing": false,
                    "engagement_type": "",
                    "files": [],
                    "first_contacted": "",
                    "id": 0,
                    "lead": 0,
                    "name": "",
                    "notes": [],
                    "orchestration_engine": 0,
                    "pen_test": false,
                    "preset": 0,
                    "product": 0,
                    "progress": "",
                    "reason": "",
                    "report_type": 0,
                    "requester": 0,
                    "risk_acceptance": [],
                    "source_code_management_server": 0,
                    "source_code_management_uri": "Resource link to source code",
                    "status": "",
                    "tags": [],
                    "target_end": "",
                    "target_start": "",
                    "test_strategy": "",
                    "threat_model": false,
                    "tmodel_path": "",
                    "tracker": "Link to epic or ticket system with changes to version.",
                    "updated": "",
                    "version": "Version of the product the engagement tested."
                  }
      summary: engagements_read
      operationId: engagements_read
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    patch:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  {
                    "active": false,
                    "api_test": false,
                    "branch_tag": "Tag or branch of the product the engagement tested.",
                    "build_id": "Build ID of the product the engagement tested.",
                    "build_server": 0,
                    "check_list": false,
                    "commit_hash": "Commit hash from repo",
                    "created": "",
                    "deduplication_on_engagement": false,
                    "description": "",
                    "done_testing": false,
                    "engagement_type": "",
                    "files": [],
                    "first_contacted": "",
                    "id": 0,
                    "lead": 0,
                    "name": "",
                    "notes": [],
                    "orchestration_engine": 0,
                    "pen_test": false,
                    "preset": 0,
                    "product": 0,
                    "progress": "",
                    "reason": "",
                    "report_type": 0,
                    "requester": 0,
                    "risk_acceptance": [],
                    "source_code_management_server": 0,
                    "source_code_management_uri": "Resource link to source code",
                    "status": "",
                    "tags": [],
                    "target_end": "",
                    "target_start": "",
                    "test_strategy": "",
                    "threat_model": false,
                    "tmodel_path": "",
                    "tracker": "Link to epic or ticket system with changes to version.",
                    "updated": "",
                    "version": "Version of the product the engagement tested."
                  }
      summary: engagements_partial_update
      operationId: engagements_partial_update
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: >-
            {
              "active": "${active}",
              "api_test": "${api_test}",
              "branch_tag": "${branch_tag}",
              "build_id": "${build_id}",
              "build_server": "${build_server}",
              "check_list": "${check_list}",
              "commit_hash": "${commit_hash}",
              "created": "${created}",
              "deduplication_on_engagement": "${deduplication_on_engagement}",
              "description": "${description}",
              "done_testing": "${done_testing}",
              "engagement_type": "${engagement_type}",
              "files": "${files}",
              "first_contacted": "${first_contacted}",
              "id": "${id}",
              "lead": "${lead}",
              "name": "${name}",
              "notes": "${notes}",
              "orchestration_engine": "${orchestration_engine}",
              "pen_test": "${pen_test}",
              "preset": "${preset}",
              "product": "${product}",
              "progress": "${progress}",
              "reason": "${reason}",
              "report_type": "${report_type}",
              "requester": "${requester}",
              "risk_acceptance": "${risk_acceptance}",
              "source_code_management_server": "${source_code_management_server}",
              "source_code_management_uri": "${source_code_management_uri}",
              "status": "${status}",
              "tags": "${tags}",
              "target_end": "${target_end}",
              "target_start": "${target_start}",
              "test_strategy": "${test_strategy}",
              "threat_model": "${threat_model}",
              "tmodel_path": "${tmodel_path}",
              "tracker": "${tracker}",
              "updated": "${updated}",
              "version": "${version}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: >-
              {
                "active": "${active}",
                "api_test": "${api_test}",
                "branch_tag": "${branch_tag}",
                "build_id": "${build_id}",
                "build_server": "${build_server}",
                "check_list": "${check_list}",
                "commit_hash": "${commit_hash}",
                "created": "${created}",
                "deduplication_on_engagement": "${deduplication_on_engagement}",
                "description": "${description}",
                "done_testing": "${done_testing}",
                "engagement_type": "${engagement_type}",
                "files": "${files}",
                "first_contacted": "${first_contacted}",
                "id": "${id}",
                "lead": "${lead}",
                "name": "${name}",
                "notes": "${notes}",
                "orchestration_engine": "${orchestration_engine}",
                "pen_test": "${pen_test}",
                "preset": "${preset}",
                "product": "${product}",
                "progress": "${progress}",
                "reason": "${reason}",
                "report_type": "${report_type}",
                "requester": "${requester}",
                "risk_acceptance": "${risk_acceptance}",
                "source_code_management_server": "${source_code_management_server}",
                "source_code_management_uri": "${source_code_management_uri}",
                "status": "${status}",
                "tags": "${tags}",
                "target_end": "${target_end}",
                "target_start": "${target_start}",
                "test_strategy": "${test_strategy}",
                "threat_model": "${threat_model}",
                "tmodel_path": "${tmodel_path}",
                "tracker": "${tracker}",
                "updated": "${updated}",
                "version": "${version}"
              }
    put:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  {
                    "active": false,
                    "api_test": false,
                    "branch_tag": "Tag or branch of the product the engagement tested.",
                    "build_id": "Build ID of the product the engagement tested.",
                    "build_server": 0,
                    "check_list": false,
                    "commit_hash": "Commit hash from repo",
                    "created": "",
                    "deduplication_on_engagement": false,
                    "description": "",
                    "done_testing": false,
                    "engagement_type": "",
                    "files": [],
                    "first_contacted": "",
                    "id": 0,
                    "lead": 0,
                    "name": "",
                    "notes": [],
                    "orchestration_engine": 0,
                    "pen_test": false,
                    "preset": 0,
                    "product": 0,
                    "progress": "",
                    "reason": "",
                    "report_type": 0,
                    "requester": 0,
                    "risk_acceptance": [],
                    "source_code_management_server": 0,
                    "source_code_management_uri": "Resource link to source code",
                    "status": "",
                    "tags": [],
                    "target_end": "",
                    "target_start": "",
                    "test_strategy": "",
                    "threat_model": false,
                    "tmodel_path": "",
                    "tracker": "Link to epic or ticket system with changes to version.",
                    "updated": "",
                    "version": "Version of the product the engagement tested."
                  }
      summary: engagements_update
      operationId: engagements_update
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: >-
            {
              "active": "${active}",
              "api_test": "${api_test}",
              "branch_tag": "${branch_tag}",
              "build_id": "${build_id}",
              "build_server": "${build_server}",
              "check_list": "${check_list}",
              "commit_hash": "${commit_hash}",
              "created": "${created}",
              "deduplication_on_engagement": "${deduplication_on_engagement}",
              "description": "${description}",
              "done_testing": "${done_testing}",
              "engagement_type": "${engagement_type}",
              "files": "${files}",
              "first_contacted": "${first_contacted}",
              "id": "${id}",
              "lead": "${lead}",
              "name": "${name}",
              "notes": "${notes}",
              "orchestration_engine": "${orchestration_engine}",
              "pen_test": "${pen_test}",
              "preset": "${preset}",
              "product": "${product}",
              "progress": "${progress}",
              "reason": "${reason}",
              "report_type": "${report_type}",
              "requester": "${requester}",
              "risk_acceptance": "${risk_acceptance}",
              "source_code_management_server": "${source_code_management_server}",
              "source_code_management_uri": "${source_code_management_uri}",
              "status": "${status}",
              "tags": "${tags}",
              "target_end": "${target_end}",
              "target_start": "${target_start}",
              "test_strategy": "${test_strategy}",
              "threat_model": "${threat_model}",
              "tmodel_path": "${tmodel_path}",
              "tracker": "${tracker}",
              "updated": "${updated}",
              "version": "${version}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: >-
              {
                "active": "${active}",
                "api_test": "${api_test}",
                "branch_tag": "${branch_tag}",
                "build_id": "${build_id}",
                "build_server": "${build_server}",
                "check_list": "${check_list}",
                "commit_hash": "${commit_hash}",
                "created": "${created}",
                "deduplication_on_engagement": "${deduplication_on_engagement}",
                "description": "${description}",
                "done_testing": "${done_testing}",
                "engagement_type": "${engagement_type}",
                "files": "${files}",
                "first_contacted": "${first_contacted}",
                "id": "${id}",
                "lead": "${lead}",
                "name": "${name}",
                "notes": "${notes}",
                "orchestration_engine": "${orchestration_engine}",
                "pen_test": "${pen_test}",
                "preset": "${preset}",
                "product": "${product}",
                "progress": "${progress}",
                "reason": "${reason}",
                "report_type": "${report_type}",
                "requester": "${requester}",
                "risk_acceptance": "${risk_acceptance}",
                "source_code_management_server": "${source_code_management_server}",
                "source_code_management_uri": "${source_code_management_uri}",
                "status": "${status}",
                "tags": "${tags}",
                "target_end": "${target_end}",
                "target_start": "${target_start}",
                "test_strategy": "${test_strategy}",
                "threat_model": "${threat_model}",
                "tmodel_path": "${tmodel_path}",
                "tracker": "${tracker}",
                "updated": "${updated}",
                "version": "${version}"
              }
  "/engagements/{id}/accept_risks/":
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: engagements_accept_risks
      operationId: engagements_accept_risks
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: ""
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: ""
  "/engagements/{id}/close/":
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: engagements_close
      operationId: engagements_close
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: ""
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: ""
  "/engagements/{id}/delete_preview/":
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: ""
      summary: engagements_delete_preview
      operationId: engagements_delete_preview
      parameters:
        - in: query
          name: limit
          description: Number of results to return per page.
          required: false
          schema:
            type: string
        - in: query
          name: offset
          description: The initial index from which to return the results.
          required: false
          schema:
            type: string
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
  "/engagements/{id}/files/":
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "engagement_id": 0,
                    "files": []
                  }
      summary: engagements_files_read
      operationId: engagements_files_read
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "file": "",
                    "id": 0,
                    "title": ""
                  }
      summary: engagements_files_create
      operationId: engagements_files_create
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: ""
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: ""
          multipart/form-data:
            schema:
              type: object
              properties:
                fieldname:
                  type: string
                  value: file
  "/engagements/{id}/generate_report/":
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "endpoints": [],
                    "finding_notes": [],
                    "findings": [],
                    "host": "",
                    "report_info": "",
                    "report_name": "",
                    "team_name": "",
                    "title": "",
                    "user_id": 0
                  }
      summary: engagements_generate_report
      operationId: engagements_generate_report
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "include_executive_summary": "${include_executive_summary}",
              "include_finding_images": "${include_finding_images}",
              "include_finding_notes": "${include_finding_notes}",
              "include_table_of_contents": "${include_table_of_contents}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "include_executive_summary": "${include_executive_summary}",
                "include_finding_images": "${include_finding_images}",
                "include_finding_notes": "${include_finding_notes}",
                "include_table_of_contents": "${include_table_of_contents}"
              }
  "/engagements/{id}/notes/":
    get:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "engagement_id": 0,
                    "notes": []
                  }
      summary: engagements_notes_read
      operationId: engagements_notes_read
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
      requestBody:
        content: {}
    post:
      responses:
        default:
          description: default
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "date": "",
                    "edit_time": "",
                    "edited": false,
                    "entry": "",
                    "history": [],
                    "id": 0,
                    "note_type": 0,
                    "private": false
                  }
      summary: engagements_notes_create
      operationId: engagements_notes_create
      parameters:
        - in: path
          name: id
          description: Generated by shuffler.io OpenAPI
          required: true
          schema:
            type: string
        - in: body
          name: body
          multiline: true
          description: Generated by shuffler.io OpenAPI
          required: false
          example: |-
            {
              "entry": "${entry}",
              "note_type": "${note_type}",
              "private": "${private}"
            }
          schema:
            type: string
      requestBody:
        description: Generated by Shuffler.io
        required: false
        content:
          example:
            example: |-
              {
                "entry": "${entry}",
[...]
